$bg-gray: #f6f6f6;
$primary: #276678;
$secondary: #1687a7;

$lightblue: #d3e0ea;
$lightgray: #fafafa;
$mediumgray: #cccccc;

$gray: #9c9c9c;
$white: #fff;
$black: #000;
$yellow: #ffd700;
$red: #de5246;
$green: #a4c639;
